<header class="o-header" data-o-component="o-header" data-o-header--no-js="">
  <div class="o-header__row o-header__top">
		<div class="o-header__container">
			<div class="o-header__top-wrapper">
				<div class="o-header__top-column o-header__top-column--left">
					<a href="#o-header-drawer" class="o-header__top-link o-header__top-link--menu" aria-controls="o-header-drawer" title="Open drawer menu">
						<span class="o-header__top-link-label">Menu</span>
					</a>
          <a href="#o-header-search" class="o-header__top-link o-header__top-link--search" aria-controls="o-header-search-js" title="Open search bar">
            <span class="o-header__top-link-label">Search</span>
          </a>
				</div>
				<div class="o-header__top-column o-header__top-column--center">
					<a class="o-header__top-logo" href="/" title="Go to Financial Times homepage">
						<span class="o-header__visually-hidden">Financial Times</span>
					</a>
				</div>
				<div class="o-header__top-column o-header__top-column--right">
					<a class="o-header__top-link o-header__top-link--myft" href="/" aria-label="My F T">
						<span class="o-header__visually-hidden">myFT</span>
					</a>
				</div>
			</div>
		</div>
	</div>
  <div id="o-header-search" class="o-header__row o-header__search o--if-no-js" role="search">
    <div class="o-header__container">
      <form class="o-header__search-form" action="/search" role="search" aria-label="Site search">
        <label class="o-header__visually-hidden" for="o-header-search-term">Search the <abbr title="Financial Times">FT</abbr></label>
        <input class="o-header__search-term" id="o-header-search-term" name="q" type="text" placeholder="Search the FT">
        <button class="o-header__search-submit" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
  <div id="o-header-search-js" class="o-header__row o-header__search" role="search" data-o-header-search="">
    <div class="o-header__container">
      <form class="o-header__search-form" action="/search" role="search" aria-label="Site search">
        <label class="o-header__visually-hidden" for="o-header-search-term-js">Search the <abbr title="Financial Times">FT</abbr></label>
        <input class="o-header__search-term" id="o-header-search-term-js" name="q" type="text" placeholder="Search the FT">
        <button class="o-header__search-submit" type="submit">
          Search
        </button>
        <button class="o-header__search-close o--if-js" type="button" aria-controls="o-header-search-js" title="Close search bar">
          <span class="o-header__visually-hidden">Close</span>
        </button>
      </form>
    </div>
  </div>
</header>

<div class="o-header__drawer" id="o-header-drawer" role="navigation" aria-label="Drawer menu" data-o-header-drawer="" data-o-header-drawer--no-js="">
  <div class="o-header__drawer-inner">
    <div class="o-header__drawer-tools">
      <a class="o-header__drawer-tools-logo" href="/">
        <span class="o-header__visually-hidden">Financial Times</span>
      </a>
      <button type="button" class="o-header__drawer-tools-close" aria-controls="o-header-drawer" title="Close drawer menu">
        <span class="o-header__visually-hidden">Close</span>
      </button>
    </div>
    <div class="o-header__drawer-search">
      <form class="o-header__drawer-search-form" action="/search" role="search" aria-label="Site search">
        <label class="o-header__visually-hidden" for="o-header__drawer-search-term">Search the <abbr title="Financial Times">FT</abbr></label>
        <input class="o-header__drawer-search-term" id="o-header-drawer-search-term" name="q" type="text"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Search the FT">
        <button class="o-header__drawer-search-submit" type="submit">
          <span class="o-header__visually-hidden">Search</span>
        </button>
      </form>
    </div>
  </div>
</div>
